header{
  background-color: rgba(76, 119, 238, 0.849);
    font-family: Arial, sans-serif;
     }
  h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    border-color: rgba(109, 109, 109, 0.616);
    border-width: 2px;
    border-style: solid;
  }
  h2, h3{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: rgb(15, 15, 15);
    margin: 20px;

   
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row-reverse;
    gap: 20px;
    border: 1px;
   
  }
  section {
    background-color: rgb(190, 188, 186);
    text-align: center;
    flex-basis: auto;
    color: rgb(155, 156, 156);
    border: 1px;
    border-style: solid;
  p{
    color: black;
  }
  }

  footer{
    background-color: black;
    color: white;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
  }